
<!DOCTYPE html>
<html>

  <div class="pill-nav">
  <a class="active" href="/posts">Acebook</a>
  <a class="new-post-link" href="/posts/new">New post</a>
  <a class="split" href="/sessions/new" action='/sessions?_method=DELETE' method='POST'>Log out</a>

 </a>
</div> 
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    {{{body}}}
  </body>
</html>

<!DOCTYPE html>
<html>
<head>
  <title>My Page Title</title>
  <link rel="icon" type="image/x-icon" href="public/favicon.ico">
</head>
<body>


</body>
</html>
